@charset "UTF-8";
/* CSS Document */

/*--recept responsive--*/
*{
box-sizing: border-box;
}

/*--TIPOGRAFIA trash-- */
@font-face{
	font-family: "Trash";
	src: url(../assets/trash/trashregular-webfont.woff)}

@font-face{
	font-family: "Trash Medium";
	src: url(../assets/trash/trash-medium-webfont.woff)}

@font-face{
	font-family: "Trash Bold";
	src: url(../assets/trash/trash-bold-webfont.woff)}


body {
    font-family: 'Graphik', sans-serif;
    background-color: #E9FDFD;
}

h1 {
    font-family: 'Trash';
    font-size: 4em;
    text-align: center;
    color:#FF7772;
}

h2{
    font-family: 'Trash';
    font-size: 5em;
    margin-top: 2.5em;
    text-align: center;
    color:#423434;
}

p{
   font-family:'Graphik';
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.bg-primary{
background-color: #FF7772;
padding: 10%;
}

.calltoaction{
	width: 10em;
	float: right;
	margin-top:2em;
	margin-right: 3em;
}

.frase{
    font-family: 'Trash';
    font-size: 4em;
    margin-top: 2.5em;
    text-align: center;
    color:#423434;
    margin-bottom: 2em;
}
/* cursor*/
html{
    cursor: url(/img/cursor.svg), default;
}

a{	
	color: #423434;
	font-family: 'Trash Medium', 'Montserrat', sans-serif;
	text-decoration: none;
	outline-color:#FF7772;}

/*--FOOTER--*/
.footer{
	margin-right: 3em;
}
.footer-email{
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  	width: 2em;
}

.social-links{
	float: right;
}

.social-icon{
	size: 1em;
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  	width: 2em;}

/* @media (min-width: 600px) and (max-width: 800px){
    h1 {
        color: purple;
    }
} */


/* @media (max-width: 1500px){
    h1 {
        color: yellow;
    }
}

@media (max-width: 1000px){
    h1 {
        color: orange;
    }
}
@media (max-width: 500px){
    h1 {
        color: red;
    }
} */




/* @media (orientation: landscape) {
 body {
     background-color: magenta;
 }
} */


@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
  
}
@media (max-width: 576px){
    h1 {
        font-size: 3em;
    }
    .calltoaction{
        width: 7em;
        margin-top:2em;
        margin-right: 3em;
    }
    .frase{
        font-size: 2em;
    }
}