@charset "UTF-8";
/* CSS Document */

/*--recept responsive--*/
*{
box-sizing: border-box;
}

/*--TIPOGRAFIA trash-- */
@font-face{
	font-family: "Trash";
	src: url(../assets/trash/trashregular-webfont.woff)}

@font-face{
	font-family: "Trash Medium";
	src: url(../assets/trash/trash-medium-webfont.woff)}

@font-face{
	font-family: "Trash Bold";
	src: url(../assets/trash/trash-bold-webfont.woff)}


body {
    font-family: 'Graphik', sans-serif;
    background-color: #FF7772;
}


/* cursor*/
body{
  cursor: url("/img/cursor2.svg");
}

h1{
    font-family: 'Trash';
    font-size: 7.5em;
    margin-top: 2.75em;
    text-align: center;
    color:#E9FDFD;
}

h2{
  font-family: 'Trash';
  font-size: 3.3em;
  margin-top: 1em;
  margin-left: 1.2em;
  text-align: left;
  color:#E9FDFD;
}

h3{
  font-family: 'Trash';
  font-size: 3em;
  margin-top: 2em;
  margin-left: 1.2em;
  text-align: left;
  color:#423434;
}


p{
   font-family:'Graphik Light';
   font-size: 1em;
   color: #E9FDFD;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.taggs1{
  text-align: center;
  margin-top:6em;
}

.taggs2{
  text-align: center;
  margin-top:1em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}


.bg-projects{
  background-color: #E9FDFD;
}
/* --------------------------- Header ----------------------------------- */

.header,
.menu {
  align-items: center;
  display: flex;

}

.header {
  justify-content: space-between;
}

/* --------------------------- Menu Projects----------------------------------- */

.menu-link-project{
color:#423434;
}

.menu-link-project:hover{
  color:#FF7772;
}
/* --------------------------- Menu ----------------------------------- */
.menu-item {
  padding: 0 1rem;
}

.menu-link{
  color: #E9FDFD;
}

.menu-link:hover {
  color: #FF7772;
}

.menu-trigger {
  padding: 0.5rem;
  position: relative;
  z-index: 10;
}

.menu-trigger svg {
  height: 2rem;
  width: 2rem;
}

.menu-close {
  display: none;
  float: right;
  background: inherit;
  border: 0;
  color: inherit;
  overflow: hidden;
  outline: none;
}

.menu-is-open .menu-open {
  display: none;
}

.menu-is-open .menu-close {
  display: block;
  }

.logo {
  position: relative;
  z-index: 10;
  width: 2em;
  margin-left:1em;
}


.calltoaction{
	width: 10em;
	float: right;
	margin-top:2em;
	margin-right: 3em;
}

/*PROGRESS BAR SCROLL*/
/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #423434;
  width: 0%;
}
  
/*--PROYECTOS HOME--*/
.background-pojects{
	z-index: -1;
  color:#FF7772;
} 

/*--INCANSABLES--*/
.project{
	display: block;
	position: relative;	
	margin-left: 3em;
	margin-bottom: 4em;
	margin-top: 2em;
  font-size: 2.8em;
  color: #423434;
}
.subtitulo-project{
  font-family:'Trash';
  font-size: 0.7em;
  display: block;
	position: relative;	
	margin-left: 3em;
	margin-bottom: 4em;
	margin-top: 0.5em;
  color: #423434;
}

.project-photo{
	position: absolute;
	top: -30%;
	max-width: 10em;
	left: 10%;
	transition: opacity 0.25s ease-in-out;
	opacity: 0;
	z-index: 1;
}

.bg-primary{
  background-color: #E9FDFD;
  margin-top:3em;
  padding: 10%;
}

/*---- IMG HOVER PROJECTS------*/
.project:hover .project-photo{
	opacity: 1;
}



/*RESET ESTILOS BUTTON*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Make `a` like a button */
[role='button'] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
} 

.fotoabout{
  width:30%;
  margin-left: 60%;
}

a{	
	color:#423434;;
	font-family: 'Trash Medium', 'Montserrat', sans-serif;
	text-decoration: none;
	outline-color:#FF7772;}
  

/*--FOOTER--*/
.footer{
	margin-right: 3em;
}

.footer-email{
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  width: 2em;
}

.social-links{
	float: right;
  background-color: #E9FDFD;
}

.bg-container{
  background-color: #E9FDFD;
}

.social-icon{
	size: 1em;
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  width: 2em;
  }

.frasefinal{
  display:block;
  flex-direction: column;
  text-align:center;
  }

.imgfrase {
  display: block;
  margin: 6em auto 0;
  width: 8em;
 }

.imgfrase1{
  margin-top: 8em;
  width: 5em;
  }


.frasefinal-rosa{
  background-color: #FF7772;
  padding:3%;
  margin-top: 2em;
  width: 100%;
  }

.frase2{
  font-family: 'Trash';
  font-size: 3em;
  color:#E9FDFD;
  text-align: center;
  flex-direction: column;
  margin-bottom:2em;
  margin-top: 1em;}



/* 640px - 1px * TROBAR COM ALINEARHO EN VERTICAL*/
@media (max-width: 39.9375em) {
.nav {
  align-items: center;
  background: #E9FDFD;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: -150%;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 9;
  }

.logo{
  width: 1.2em;
  margin-left: 0.8em;
  }

ul{
  flex-direction:column;
  }
  
.menu-link{
  color:#000;
  }
  
.menu-is-open .nav {
top: 0;
  }
  }

.menu-link:hover {
    color: #FF7772;
  }


@media (min-width: 40em) {
    .menu-trigger {
      display: none;
    }
  }
  
@media (max-width: 768px){
    h1 {
        font-size: 4.2em;
        margin-top: 2em;
    }
    .project{
      font-size:1.3em;
    }
    .project-photo{
      max-width: 11em;
    }
    .project-photo{
      position: absolute;
      top: -30%;
      max-width: 5em;
      left: 10%;
    }

.frase2{
  font-size: 1.7em;
  margin-top: 2em;
}

}
@media (max-width: 576px){

    .calltoaction{
        width: 7em;
        margin-top:2em;
        margin-right: 3em;}



}