@charset "UTF-8";
/* CSS Document */

/*--recept responsive--*/
*{
box-sizing: border-box;
}


body {
    font-family: 'Trash', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color:black;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.bg-primary{
background-color: #FF7772;
padding: 10%;
}
/* cursor*/
html{
    cursor: url(/img/cursor.svg), default;
}


/*--FOOTER--*/
.footer{
	margin-right: 3em;
}
.footer-email{
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  	width: 2em;
}

.social-links{
	float: right;
}

.social-icon{
	size: 1em;
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
  	width: 2em;}

/* @media (min-width: 600px) and (max-width: 800px){
    h1 {
        color: purple;
    }
} */


/* @media (max-width: 1500px){
    h1 {
        color: yellow;
    }
}

@media (max-width: 1000px){
    h1 {
        color: orange;
    }
}
@media (max-width: 500px){
    h1 {
        color: red;
    }
} */




/* @media (orientation: landscape) {
 body {
     background-color: magenta;
 }
} */


@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
  
}
@media (max-width: 576px){
    h1 {
        font-size: 3em;
    }
}